body {
    font-family: Ubuntu;
    margin: 20px 25px;
}

header {
    font-size: 36px;
    margin-bottom: 15px;
}

nav {
    font-weight: bold;
}

.section-preview-container {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    overflow: hidden;
}

.section-preview {
    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.section-badge {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80px;

    padding-left: 5px;
    padding-right: 5px;
}
.section-badge img {
    max-width: 64px;
    max-height: 64px;

    cursor: pointer;
}

.section-name {
    margin-top: 5px;
    margin-left: 15px;

    cursor: pointer;
}

.section-description {
    max-width: 45em;
}

.highlighted-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 74px; /* (32px + 5px) twice */

    font-size: 12px;
}

.highlighted-item {
    display: flex;
    align-items: center;

    margin-right: 15px;
    margin-bottom: 5px;

    cursor: pointer;
}

.highlighted-item-text {
    width: 100px;
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}
.highlighted-item img {
    height: 32px;
    width: 32px;

    margin-right: 5px;
}

.item-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

    padding: 0;
}

ul.item-list > li {
    border: 1px solid #ddd;
    margin: 5px;
}
ul.item-list > li.highlighted {
    border-color: #0000ee;
    background-color: #ddddff;
}
ul.item-list > li.highlighted .item-description:after {
    background: linear-gradient(to right, rgba(221, 221, 255, 0), rgba(221, 221, 255, 1) 50%);
}
ul.item-list > li.filtered-out {
    display: none;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;

    cursor: pointer;
}
.item-container img {
    width: 128px;
    height: 128px;

    margin-bottom: 10px;
}
.item-container ul.tags {
    font-size: 10px;
    color: #555;
    padding: 0;
    max-width: 150px;
    height: 45px;
    overflow: hidden;
}
.item-container ul.tags li {
    display: inline-block;
    margin-right: 5px;
}

.item-list .item-name {
    max-width: 125px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-list .item-description {
    position: relative;
    width: 128px;
    height: 45px;

    overflow: hidden;

    font-size: 10px;
    color: #555;
}
.item-list .item-description:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 11px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.item-url {
    font-size: 18px;
    font-weight: bold;
}

.tag-sidebar {
    float: right;

    width: 15%;

    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.tag-sidebar h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tag-sidebar ul {
    list-style: none;
    padding: 0;
}
.tag-sidebar ul li {
    display: block;
    line-height: 14px;
}
.tag-sidebar .tag {
    display: inline;

    margin-left: -12px;
    border-left: 12px solid transparent;
    padding-left: 2px;

    color: #888;
    font-size: 12px;
    text-decoration: none;
}
.tag-sidebar .tag.tag-filter {
    padding-right: 18px;

    color: #0000ee;
    background: url(/images/pin.png) no-repeat right;
}
.tag-sidebar .tag.highlighted {
    border-left: 12px solid #0000ee;
    color: #0000ee;
}

.item-card {
    margin-top: 20px;
}
.item-main-image {
    float: right;

    margin: 0 20px 15px 15px;
    border: 1px solid #ddd;
}
.item-main-image img {
    width: 300px;
    height: 300px;
}

.item-main-content {
    min-height: 310px;
    max-width: 85%;
}
.item-main-content .item-description {
    padding-right: 35px;
}
